/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --bckground: #e7f2ec;
  --text: #ffffff;
  --primary: #303030;
  --secondary: #3a3a3a;
  --tertiary: #6d6d6d;
  --accent: #feba27;
  --hover: #ffeec8;
  --font: "Poppins", sans-serif;
  --inspect: solid red 1px;
}

/* --- MAIN CSS --- */

body {
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
}

main {
  background-color: var(--primary);
  width: 100vw;
  max-width: 450px;
  margin: 0 auto;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 250ms ease;
}

/* --- HEADER COMPONENT --- */

header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-btn {
    color: var(--accent);
    font-size: 24px;

    &:hover {
      color: var(--hover);
      transform: scale(1.1);
    }
  }

  & h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }
}

/* --- LIST OVERVIEW COMPONENT --- */

/* --- LIST ITEM COMPONENT --- */

.list-item-wrapper {
  position: relative;
  height: 100px;
  padding: 0 30px;
  background-color: var(--tertiary);
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .action-btn {
    width: 70px;
    color: var(--accent);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    & p {
      margin-top: 8px;
      font-size: 14px;
      text-transform: capitalize;
      color: var(--text);
      transition: 250ms ease;
    }

    &:hover > p {
      color: var(--accent);
    }
  }
}

/* --- UPPER LIST ITEM COMPONENT --- */

.listitem-drawer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: var(--secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  .location-wrapper {
    display: grid;
    place-items: center;

    .gps-symbol {
      font-size: 32px;
      margin-bottom: 5px;
    }

    & p {
      font-weight: 600;
    }
  }
}

/* --- MOBILE RESPONSIVE --- */

@media screen and (max-width: 450px) {
  /* some class */
}
