/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --bckground: #e7f2ec;
  --text: #ffffff;
  --primary: #303030;
  --secondary: #3a3a3a;
  --accent: #feba27;
  --font: "Poppins", sans-serif;
}

/* --- MAIN CSS --- */

body {
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  background-color: var(--primary);
  width: 100vw;
  max-width: 450px;
  height: 800px;
  border-radius: 25px;
  padding: 20px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 250ms ease;
}

/* --- HEADER COMPONENT --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-btn {
    color: var(--accent);
    font-size: 24px;

    &:hover {
      color: #ffeec8;
      transform: scale(1.1);
    }
  }

  & h1 {
    font-size: 18px;
    font-weight: 500;
  }
}

/* --- MOBILE RESPONSIVE --- */

@media screen and (max-width: 450px) {
  /* some class */
}
