/* Init */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --bckground: #e7f2ec;
  --text: #ffffff;
  --primary: #303030;
  --secondary: #3a3a3a;
  --tertiary: #6d6d6d;
  --accent: #feba27;
  --hover: #ffeec8;
  --font: "Poppins", sans-serif;
}

/* --- MAIN CSS --- */

body {
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  background-color: var(--primary);
  width: 100vw;
  max-width: 450px;
  height: 800px;
  border-radius: 25px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 250ms ease;
}

/* --- HEADER COMPONENT --- */

header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-btn {
    color: var(--accent);
    font-size: 24px;

    &:hover {
      color: var(--hover);
      transform: scale(1.1);
    }
  }

  & h1 {
    font-size: 18px;
    font-weight: 500;
  }
}

/* --- OVERVIEW COMPONENT --- */

.overview-container {
  /* styles */
}

/* --- ITEM COMPONENT --- */

.restaurant-wrapper {
  background-color: var(--tertiary);
  height: 100px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 20px;

  .action-btn {
    color: var(--accent);
    font-size: 30px;

    & p {
      text-transform: capitalize;
      margin-top: 5px;
      font-family: var(--font);
      font-size: 14px;
      color: var(--text);
    }

    &:hover {
      color: var(--hover);
    }
  }
}

/* --- MOBILE RESPONSIVE --- */

@media screen and (max-width: 450px) {
  /* some class */
}
